.h-wrapper {
    background:var(--black);
    color: #fff;
  }
  
  .h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
   color: var(--secondary);


  }
 
  .h-menu {
    gap: 2rem;
  }
  
  .h-menu>*:hover {
    cursor: pointer;
    text-decoration: none;
    /* margin-right: 10px; */
  }

  .menu-icon{
    display: none;
  }
@media (max-width:768px) {
  .menu-icon{
    display: block;
  }
  .h-menu{  
     
     
    z-index: 2; 
    color: var(--black);
    position: absolute;
    top: 3rem;
    right: 3rem;
    background: white;
    flex-direction: column;
    font-weight: 500;
    gap: 2rem;
    padding: 3rem;
    border-radius: 10px;
    align-items: flex-start;
  }
  
}