.inner-container{
    gap: 1.5rem;
    background-color: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #5d55d6;
    text-align: center;
}
.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: silver;
}
.flexColstart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.button{
    border: 2px solid white;
}