.hero-wrapper {
    color: white;
    padding-bottom: 2rem;
    position: relative;
    background: var(--black);
  }
  
  .hero-container {
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .hero-left {
    gap: 3rem;

  }
  .hero-title{
    position: relative;
    z-index: 1;
  }
  .orange-circle{
    height: 4rem;
    width: 4rem;
    background:var(--orange);
    border-radius: 999px;
    position: absolute;
    top: -10%;
    right: 58%;
    z-index: -1;
    
  }
  .hero-title h1{
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4rem;
  }
  
  .hero-right {
    width: 25rem;
    display: flex;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0,0.12);
  }
  
  .image-container {
    max-width: 100%;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  .search-bar{
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgba(120,120,120,0.374);
    padding: 0.5rem 1rem;
    justify-content: space-between;
    width: 100%;
  } 
.search-bar>input{
  border: none;
  outline:none;
}
.stats {
  width: 100%;
  justify-content: space-between;
}


.stat>:nth-child(1) {
  font-size: 1rem;
  color:var(--orange);
}